<h1>{{title}}</h1>
<h2>{{error.message}}</h2>
<dl>
  <dt>Gulp Task:</dt>
  <dd>error.task</dd>
  <dt>File:</dt>
  <dd>{{error.file}}</dd>
  <dt>Line:</dt>
  <dd>{{error.line}}</dd>
</dl>
<pre>
  {{#error.extra}}{{.}}{{/error.extra}}
</pre>
<footer>
  Powered by <a href="http://github.com/allenai/biscuit" target="_blank">Biscuit</a>
</fotter>
